# -*- mode: ruby -*-
# vi: set ft=ruby :
Vagrant.configure(2) do |config|
  config.vm.box = "<%= @config.box %>"

  <%= @config.ssh_key_string %>

  config.vm.synced_folder ".", "/vagrant", disabled: true
end
