<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Repo</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |project|}}
      <tr>
        <td>
          {{#link-to "projects.show" project.name}}
            {{project.name}}
          {{/link-to}}
        </td>
        <td>{{project.repo}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>