.status-failed {
  color: red;
  font-weight: bold;
}

.status-finished {
  color: green;
  font-weight: bold;
}

.status-running {
  color: yellow;
  font-weight: bold;
}

.status-queued {
  color: yellow;
  font-weight: bold;
}
