use Mix.Config

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.
config :rabbitci_core, RabbitCICore.Endpoint,
  secret_key_base: "4mpXTddK2ee1EiNbJjP1l9+IP/hK2T2bGG+LTWkNNILghR5+IHA+wYc/8u0KdO7f"

# Configure your database
config :rabbitci_core, RabbitCICore.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "rabbitci_prod"
